@font-face {
  font-family: mainFont;
  src: url(font.ttf);
}
body{
    background: #208c71;
    font-family: mainFont;
    overflow-x: hidden;
    padding: 20px;
    scroll-behavior: smooth;
}
::selection{
    color: #208c71;
    background: #fff;
}
h1{
    font-size: 2.75rem;
    text-align: center;
    margin: 0;
    margin-top: 60px;
    font-weight: 600;
}
.h3_desc{
    text-align: center;
    font-size: 1.65rem;
    margin-top: 10px;
    font-weight: 100;
    text-decoration: underline;
}
button{
    cursor: pointer;
}
.main_window{
    overflow: auto;
    height: 100vh;
}
.title-bar{
    height: 20px;
    padding-left: 8px;
}
.main_window .title-bar button{
    margin-right: 5px;
} 
.nav{
    padding: 2px;
    padding-bottom: 0;
    height: 33px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.nav ul li {
    float: left;
    margin-right: 12px;
    padding:5px;
    border: 1px solid transparent;
}
#nav_kontakt{
    margin-right: 0;
}
.nav li:hover{
    border: 1px solid #222;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
a{
    color: #000;
    text-decoration: none;
}
a:focus{
    outline: none;
}
.min_window{
    height: 5vh;
    color: #fff;
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    max-width: 92vw;
}
.min_window button{
    transform: scale(1.5);
    margin-right: 10px;
}
.kitty{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: -1;
}
.kitty img{
    height: 150px;
    width: 150px;
    border: 1px solid #fff;
}
.kitty .window-body{
    display: flex;
    justify-content: center;
    align-content: center;
}
/* Style na urządzenia mobilne */
@media only screen and (hover: none) and (pointer: coarse){
    h1{
        font-size: 4rem;
        margin-top: 100px;
    }
    .h3_desc{
        font-size: 2.4rem;
    }
    .title-bar{
        height: 40px;
        font-size: 22px;
    }
    .title-bar button{
        transform: scale(2.1);
        margin-right: 25px !important;
    }
    .nav{
        padding: 2px;
        padding-bottom: 0;
        height: 55px;
        border-width: thick;
    }
    .nav li{
        font-size: 35px;
        padding: 7px !important;
    }
    .min_window{
        width: 72vw;
        height: 80px;
        font-size: 30px;
        padding-left: 20px;
    }
    .min_window button{
        transform: scale(3);
        margin-right: 40px;
    }
    .kitty{
       height: 500px;
        width: 500px;
        margin-top: -250px;
    margin-left: -250px;
    }
    .kitty img{
        height: 400px;
        width: 400px;
        border-width: 3px;
        margin-top: 15px;
    }
}