@font-face {
  font-family: mainFont;
  src: url(res/font.ttf);
}
*{
     scroll-behavior: smooth;
}
body{
    background: #208c71;
    font-family: mainFont;
    overflow-x: hidden;
    padding: 20px;
}
::selection{
    color: #208c71;
    background: #fff;
}
h1{
    font-size: 2.75rem;
    text-align: center;
    margin: 0;
    margin-top: 120px;
    font-weight: 600;
}
.h3_desc{
    text-align: center;
    font-size: 1.65rem;
    margin-top: 10px;
    font-weight: 100;
    text-decoration: underline;
}
button{
    cursor: pointer;
}
.main_window{
    overflow: auto;
    height: 3000px;
    min-height: 100vh;
}
.title-bar{
    height: 20px;
    padding-left: 8px;
}
.main_window .title-bar button{
    margin-right: 5px;
} 
.nav{
    padding: 2px;
    padding-bottom: 0;
    height: 33px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.nav ul li {
    float: left;
    margin-right: 12px;
    padding:5px;
    border: 1px solid transparent;
}
#nav_kontakt{
    margin-right: 0;
}
.nav li:hover{
    border: 1px solid #222;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
a{
    color: #000;
    text-decoration: none;
}
a:focus{
    outline: none;
}
.min_window{
    height: 5vh;
    color: #fff;
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    max-width: 92vw;
}
.min_window button{
    transform: scale(1.5);
    margin-right: 10px;
}
.kitty{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: -1;
}
.kitty button{
    margin-right: 5px;
}
.kitty img{
    height: 150px;
    width: 150px;
    border: 1px solid #fff;
    user-select: none;
}
.kitty .window-body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title_icon{
    font-size: 28px;
    font-weight: 900;
    display: block !important;
    text-align: center;
}
h4{
    margin-left: 30px;
    margin-top: 160px;
    padding-top: 40px;
}
.right{
    float: right;
    margin-right: 30px;
}
.section{
    background: #dfdfdf;
    color: #000;
    width: 75%;
    margin-left: 30px;
    font-size: 22px;
    padding: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}
#section_dosw{
    overflow-y: auto;
    height: 145px;
    padding-top: 55px;
    margin-bottom: 150px;
}
.timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}
.timestamp {
  margin: auto;
  margin-bottom: 15px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  border-top: 8px solid #208c71;
  position: relative;
}
.status span {
  padding-top: 8px;
}
.status span:before {
  content: '';
  width: 22px;
  height: 22px;
  background-color: #208c71;
  border-radius: 12px;
  border: 2px solid #208c71;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -62%);
}
.swiper-container {
  width: 95%; 
  margin: auto;
}
.swiper-wrapper{
  display: inline-flex;
  flex-direction: row;
  overflow-y:auto;
  justify-content: center;
}
.swiper-slide {
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 100%;
  position: relative;
}
#h4_umiej{
    clear: both;
    margin-top: 0;
}
.window_job .window-body{
    padding-left: 15px;
    padding-right: 15px;
}
.window_job .title-bar{
    cursor: move;
}
.window_job h3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.window_job h5{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.window_job h6{
    font-size: 13px;
    margin-top: 0px;
}
.window_job p{
    font-size: 23px;
}
@media only screen and (min-width: 1200px) {
    #section_dosw{
        width: 70%;
        clear: both;
    }
    .time-line-box{
        text-align: center;
    }
}
/* Style na urządzenia mobilne */
@media only screen and (hover: none) and (pointer: coarse){
    h1{
        font-size: 4.2rem;
        margin-top: 150px;
    }
    .h3_desc{
        font-size: 2.5rem;
        margin: 25px;
        margin-bottom: 35px;
    }
    .title_icon{
        font-size: 40px;
    }
    .title-bar{
        height: 50px;
        font-size: 24px;
        padding-left: 15px;
    }
    .title-bar button{
        transform: scale(2.5);
        margin-right: 35px !important;
    }
    #btn_min{
        margin-right: 20px !important;
    }
    .nav{
        padding: 2px;
        padding-top: 10px;
        padding-bottom: 0;
        height: 65px;
        border-width: thick;
    }
    .nav li{
        font-size: 35px;
        padding: 7px !important;
    }
    .min_window{
        width: 72vw;
        height: 80px;
        font-size: 30px;
        padding-left: 25px;
    }
    .min_window button{
        transform: scale(3);
        margin-right: 40px;
    }
    .kitty{
       height: 500px;
        width: 500px;
        margin-top: -250px;
    margin-left: -250px;
    }
    .kitty img{
        height: 400px;
        width: 400px;
        border-width: 3px;
        margin-top: 15px;
    }
    #h4_omnie{
        margin-top: 240px;
    }
    h4{
        font-size: 35px;
    }
    #h4_dosw{
        font-size: 45px;
    }
    .section{
        width: 85%;
        font-size: 26px;
        line-height: 40px;
        padding: 25px;
    }
    #section_dosw{
        padding-top: 130px;
        height: 240px;
    }
    .swiper-container{
        margin-right: -150px;
    }
    .time-line-box{
        transform: scale(2);
    }
    .window_job{
        height: 640px !important;
        width: 800px !important;
        margin-top: -320px !important;
        margin-left: -400px !important;
    }
    .window_job .title-bar{
        height: 64px;
        font-size: 32px;
        padding-left: 20px;
    }
    .window_job button{
        transform: scale(2.85);
    }
    .window_job .window-body{
        padding-left: 35px;
        padding-right: 35px;
    }
    .window_job h3{
        margin-top: 60px;
        font-size: 70px;
        margin-bottom: 20px;
    }
    .window_job h5{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .window_job h6{
        font-size: 33px;
        margin-top: 0px;
    }
    .window_job p{
        font-size: 52px;
        line-height: 75px;
    }
}