@font-face {
  font-family: mainFont;
  src: url(font.ttf);
}
body{
    background: #208c71;
    font-family: mainFont;
    overflow-x: hidden;
    padding: 20px;
}
h1{
    font-size: 2.75rem;
    text-align: center;
    margin: 0;
    margin-top: 60px;
    font-weight: 600;
}
.h3_desc{
    text-align: center;
    font-size: 1.65rem;
    margin-top: 10px;
    font-weight: 100;
    text-decoration: underline;
}
button{
    cursor: pointer;
}
.main_window{
    overflow: auto;
    height: 100vh;
}
::selection{
    color: #208c71;
    background: #fff;
}
@media only screen and (hover: none) and (pointer: coarse){
    h1{
        font-size: 4rem;
        margin-top: 100px;
    }
    .h3_desc{
        font-size: 2.4rem;
    }
    .title-bar{
        height: 40px;
        padding-left: 10px;
        font-size: 22px;
    }
    .title-bar button{
        transform: scale(2.1);
        margin-right: 25px;
    }
}